#bar{
	top:-10px;
	left:-10px;
	width:300px;
	text-align: center;
	border: 1px solid #ffa07a ;
	opacity: 0.9;
	margin: 0;
	padding: 5px;
	z-index: 2;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn_login, #btn_logout{
	position:absolute;
	width: fit-content;
	font-size: small;
	bottom: 1%;
	left: 0%;
	border-radius: 5px;
	display:inline-block;
	text-align: center;
	color: #008080;
	border: 1px solid  #ffa07a ;
	padding: 1.5% 2%;
	outline: none;
	font-size: small;
	font-weight: bold ;
	vertical-align:top;
	}

#btn_login:hover, #btn_logout:hover{
	cursor:pointer;
	position:absolute;
	width: fit-content;
	display:inline-block;
	left: 0%;
	font-size: small;
	bottom: 1%;
	border-radius: 5px;
	text-align: center;
	color: #008080 ;
	border: 1px solid  #008080;
	padding: 1.5% 2%;
	outline: none;
	font-size:small;
	font-weight: bold;
	-moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);

}

#bottom_bar{
	bottom: 0;
	left:0;
	background-color: #000000;
	width: 100%;
	z-index: 2;
	text-align: center
}

#Real{
	text-align: center;
	background-color: #06045E;
	opacity: 0.9;
	margin: 0;
	padding: 5px;
	z-index: 2;
	border-radius: 0 0 10% 10%;
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#email, #password{
	border: 2px solid #008080;
	border-radius: 4px;
}

#div_url{
	width: 100%;
	height: fit-content;
	border: 1px solid #ffa07a ;
	border-radius: 4px;
	top: 100px;
}
#Image{
	font-size: small;
}